  <div class="card-booking">
    <div class="card-booking-infos" style="border-right: solid 1px lightgrey;">
      <p>23</p>
      <h2>Wed</h2>
    </div>
    <div class="card-booking-infos" style="text-align: left;">
      <p>09:00 - 12:00</p>
      <p>Tokyo</p>
    </div>
    <div class="card-booking-infos" style="text-align: left;">
      <p>Lexus LFA</p>
      <p>2012</p>
    </div>
  </div>
