<div class="card-marker">
  <% if vehicle.images.attached? %>
    <%= image_tag vehicle.images.first %>
  <% end %>
  <div class="card-marker-info">
    <p><%= vehicle.brand + ' ' + vehicle.model %></p>
  </div>
  <%= link_to "", vehicle_path(vehicle), data: { turbo: false }, class: 'card-vehicle-link' %>
</div>
