<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.spinny.com/blog/wp-content/uploads/2024/09/videoframe_0.webp);">
  <div class="container">
  <h1>SoraVé</h1>
  <p class="banner p"> Whether you're planning a special occasion, a business trip,
  or just want to experience  the thrill of traveling in style
  we provide a great selection of premium vehicles.</p>
   <a class="btn btn-flat" href="#">Find yours</a>
  </div>
</div>
