<div class="banner banner-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.spinny.com/blog/wp-content/uploads/2024/09/videoframe_0.webp);">
  <div class="w-25 ms-5">
    <h1 class="pt-5 pb-5">SoraVé</h1>
    <p> Whether you're planning a special occasion, a business trip,
      or just want to experience the thrill of traveling in style.
      We provide a great selection of premium vehicles.</p>
    <%=link_to "Explore more!", vehicles_path, class:"button-explore"%>
    <div class="button-wraper">
      <% if !user_signed_in? %>
        <%=link_to "Sign up", new_user_session_path, class:"button-sign-up"%>
      <% end %>
    </div>
  </div>
</div>
