<%= render 'banner'%>
<div class="container">
<div class="d-flex justify-content-evenly homepage-cardholder">
  <% @vehicles.each do |vehicle|%>
    <%= link_to  do %>
    <p></p>
      <%= render 'shared/small_cards', vehicle: vehicle %>
    <%end%>
  <%end%>
  </div>
   </div>
