<%= render 'banner'%>
  <div class="d-flex justify-content-evenly homepage-cardholder">
    <% @vehicles.each do |vehicle|%>
      <%= render 'shared/small_cards', vehicle: vehicle %>
    <%end%>
</div>
