.button-wraper {
  position: absolute;
  top: 20px;
  right: 60px;
}

.button-sign-up {
  width: 10em;
  height: 3.5em;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-sign-up::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  transition: 0.5s;
  transform-origin: center;
}

.button-sign-up::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  transition: 0.5s;
}

.button-sign-up:hover::before, .button-sign-up:hover::after {
  transform: scale(0)
}

.button-sign-up:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
}
