.button-wraper {
  position: absolute;
  top: 20px;
  right: 60px;
}

.button-sign-up {
  width: 10em;
  height: 3.5em;
  color: white;
  transition: .4s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px ridge #149CEA;
}

.button-sign-up:hover::before, .button-sign-up:hover::after {
  transform: scale(0);
}

.button-sign-up:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
}
