.navbar-lewagon {
  justify-content: space-between;
  background: #003036;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}

.nav-item .nav-link{
  color: rgb(218, 218, 218);

  &:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 1px rgba($color: #fff, $alpha: 0.2);
  }
}
